.addIcon {
    background-color:white;
    border-radius: 100px;
    padding: 20px;
    width: 70px;
    margin-top: 40px;
    border: none;
}

.addIcon:hover {
    cursor: pointer;
}

.addIcon:hover {
    background-color: lightgray;
    cursor: pointer;
}

.edit-pen {
    text-decoration: none;
    border: none;
    background-color: inherit;
    font-size: 16px;
    color: white;
}


.edit-pen:hover {
    cursor: pointer;
}
