.movies-container {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 20px;
    margin-top: 10px;
}

.movies-container::-webkit-scrollbar {
    display: none;
}
