.login-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
    /* width: 484px;
    height: 500px; */
    border-radius: 200px;
    gap: 20px;
    width: 100%;
    height: 100vh;
}
