.single-movie {
    position: relative;
    width: 230px;
    height: 300px;
    margin: 10px;
}

.poster {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .3s;
}

.poster:hover {
    filter: brightness(50%);
    transition: .6s;
}

.add {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
}

.plus {
    border: solid 1px black;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}
