.single-movie {
    position: relative;
    width: 230px;
    height: 300px;
    margin: 10px;
    text-overflow: hidden;
}

.poster {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .3s;
}

/* .poster:hover {
    filter: brightness(50%);
    transition: .6s;
} */

.add {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.plus {
    border: solid 1px black;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}


.movie-dropdown-menu {
    position: absolute;
    left: 0;
    top: 40px;
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, .1);
    width: 200px;
    z-index: 1;
}

.single-watchlist {
    padding: 5px;
    overflow-wrap: break-word;
}

.single-watchlist:hover {
    background-color: gray;
    border-radius: 10px;
}
